<ion-header>
  <ion-toolbar color="danger">
    <ion-title>MCQlist</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/quizlist"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div *ngFor="let mcq of Questions">
    <ion-list *ngIf="mcq.paperId==selected_quizid">

      <ion-item-sliding>
        <ion-item lines="none">
          <ion-label>{{mcq.question}}</ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="tertiary" routerLink="edit-mcq/{{mcq.id}}">
            <ion-icon slot="start" name="create-outline" style="zoom:2.0;"></ion-icon>
          </ion-item-option>

          <ion-item-option color="danger">
            <ion-icon (click)="deleteBtnAlert(mcq.id)" slot="start" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>

      </ion-item-sliding>
      <ion-item>
        <ion-label color="medium" style="margin-left: 11px;">Answer: {{mcq.answer}}</ion-label>
        <ion-button slot="end" (click)="alertForAddOption(mcq.id)">add option</ion-button>
        <ion-button slot="end" routerLink="optionlist/{{mcq.id}}">view option</ion-button>
      </ion-item>

    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" routerLink="add-mcq">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>