<ion-split-pane contentId="main">
  <ion-menu contentId="main" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content color="light">
      <ion-list>

        <ion-item-divider color="light">
          <!-- <ion-label color="primary">
            Doctor
          </ion-label> -->
        </ion-item-divider>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of teacherpage">
          <ion-item color="light" [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon color="primary" slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main" main></ion-router-outlet>
</ion-split-pane>